.l2osall{
    width: 100%;
}

@media only screen and (max-width: 600px){
    .l2osall{
        width: 100%;
    }
    .big-image{
        width: 250px;
    }
    .mob{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .pc{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px){
    .l2osall{
        width: 100%;
    }
    .big-image{
        width: 250px;
    }
    .mob{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .pc{
        margin-top: 80px;
    }
}